body{
	width : 100%;
	height : 100%;
	background-color: #1A3440;
	overflow : hidden;
	font-family : '나눔바른고딕', '돋움';
}
#today3{
	min-height : 360px;
	max-height : 700px;
	padding-left : 40px;
}
#today2{
	height : 600px;
	margin-left : 40px;
	padding-left : 40px;
}
.mom{
	overflow: hidden;
	margin-left : 20px;
	margin-top : 40px;
	opacity : 0;
}
.mom >div{
	float : left;
	width : 40%;
	border : 2px solid white;
	color : white;
}
.title{
	margin-top : 30px;
}
#list{
	list-style-image:url('../img/check.png');
	margin-left : 20px;
}
input{
	background-color : rgba(0,0,0,0);
	color : white;
	border : none;
	border-bottom : 1px solid #c5edff;
	margin-left : 10px;
}
input[type="submit"]{
	margin-left : 60px;
}
/* Kurien / Kurien's Blog / http://blog.kurien.co.kr */
/* 주석만 제거하지 않는다면, 어떤 용도로 사용하셔도 좋습니다. */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#kCalendar {border: none; margin-left : 10%; margin-top : 30px;font-family: 'Nanum Gothic', serif;}

#kCalendar #header {height: 50px; line-height: 50px; text-align: left; margin-left : 10px; font-size: 18px; font-weight: bold}
#kCalendar .button2 {color: #1ec0ff; text-decoration: none;}

#kCalendar table {width: 500px; height: 400px;}
#kCalendar caption {display: none;}

#kCalendar .sun {text-align: center; color: deeppink;}
#kCalendar .mon {text-align: center;}
#kCalendar .tue {text-align: center;}
#kCalendar .wed {text-align: center;}
#kCalendar .thu {text-align: center;}
#kCalendar .fri {text-align: center;}
#kCalendar .sat {text-align: center; color: deepskyblue;}