
.container{
	text-align : center;
	margin-top : 50px;
	opacity : 0;
}
.button{
	width : 100px;
	background-color : white;
	border: 1px solid black;
}
input{
	margin-bottom : 20px;
	width : 350px;
	border : none;
	border-bottom : 1px solid black;
}

input:focus{
	outline : none;
}
