html{
	width : 100%; height : 100%;
}
body{
	background-color:#183b4b;
	font-family : '나눔바른고딕', '돋움';
}
.weather{
	margin-left : 20px;
	border : 2px solid white;
	width : 30%;
	height : 400px;
	opacity : 0;
	color : white;
	padding : 30px;
}
.mom{
	overflow : hidden;
	margin-top : 40px;
}
.mom>div{
	float : left;
}